<div class="style"><br>
    <p>{{quote.author}}</p>
    <p>{{quote.publisher}}</p>
    <p>{{quote.upvote}}</p>
    <p>{{quote.downvote}}</p>
    <p>{{quote.description}}</p>
    <p>{{quote.completeDate|dateCount}} days</p>
</div>
<div class="button">
<button (click)='quoteUpvote()' class="btn btn-success"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/Yes_Check_Circle.svg/1024px-Yes_Check_Circle.svg.png" width="30px" height="25px"></button>&nbsp;
<button (click)='quoteDownvote()' class="btn btn-success"><img src="https://banner2.kisspng.com/20180721/uoe/kisspng-thumb-signal-computer-icons-yes-and-no-clip-art-informazioni-commerciali-5b5309aaad9795.661154411532168618711.jpg" width="40px" height="25px"></button>&nbsp;
<button (click) = 'quoteComplete(true)' class="btn"> Done </button>
</div>