.btn{
    text-align: center;
    background-color: beige;
    border: white;
    color: black;
    /* margin-left: 300px; */
}
h4{
    font-size:20px;
    text-align: center;
    margin-left: 30px;
   
}
hr{
background-color: aliceblue;
}
