/* .form{
margin-left: 450px;
color: black;
height: 40px;
background-color: blanchedalmond;
} */

.btn{
    background-color: beige;
    color: black;
    border: beige;
}
.form{
    width: 500px;
    margin-left: 300px;
}